[unix_http_server]
file={{ supervisor_path }}/supervisor.sock
[inet_http_server]
port = 127.0.0.1:9001
[supervisord]
logfile={{ supervisor_path }}/supervisord.log
pidfile={{ supervisor_path }}/supervisord.pid

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_path }}/supervisor.sock

[program:queue-worker]
process_name=%(program_name)s_%(process_num)02d
directory={{ application_path }}
command=php artisan queue:work --tries=3 --delay=10 --memory=512 --timeout=600 -vvv
autorestart=true
stdout_logfile={{ queue_worker_logfile }}
stderr_logfile={{ queue_worker_logfile }}
user={{ application_user }}
numprocs=5

[program:queue-worker-high]
process_name=%(program_name)s_%(process_num)02d
directory={{ application_path }}
command=php artisan queue:work --tries=3 --queue=high --delay=10 --memory=512 --timeout=600 -vvv
autorestart=true
stdout_logfile={{ queue_worker_logfile }}
stderr_logfile={{ queue_worker_logfile }}
user={{ application_user }}
numprocs=1

[program:queue-worker-low]
process_name=%(program_name)s_%(process_num)02d
directory={{ application_path }}
command=php artisan queue:work --tries=3 --queue=low --delay=10 --memory=512 --timeout=600 -vvv
autorestart=true
stdout_logfile={{ queue_worker_logfile }}
stderr_logfile={{ queue_worker_logfile }}
user={{ application_user }}
numprocs=1

[program:hs-stock-spider-task]
process_name=%(program_name)s_%(process_num)02d
directory={{ application_path }}
command=php artisan hs-stock-spider task
autorestart=true
stdout_logfile={{ queue_worker_logfile }}
stderr_logfile={{ queue_worker_logfile }}
user={{ application_user }}
numprocs=1

[program:hs-stock-spider-parse]
process_name=%(program_name)s_%(process_num)02d
directory={{ application_path }}
command=php artisan hs-stock-spider parse
autorestart=true
stdout_logfile={{ queue_worker_logfile }}
stderr_logfile={{ queue_worker_logfile }}
user={{ application_user }}
numprocs=1